<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CopaceticSoftware.Common" version="0.2.4920.17990" targetFramework="net40" />
  <package id="JetBrains.Annotations" version="7.0" targetFramework="net40" />
  <package id="log4net" version="2.0.0" targetFramework="net40" />
</packages>